@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@layer utilities {
    .wrapper {
        @apply max-w-screen-2xl mx-auto overflow-x-hidden;
    }

    /* Tooltip */
    .tooltip-top {
        --scale: 0;
    }
    .tooltip-top::before {
        content: attr(data-tooltip);
        position: absolute;
        padding: 5px 10px;
        width: max-content;
        border-radius: 0.3rem;
        font-size: 13px;
        font-weight: 500;
        background-color: rgb(30, 50, 50);
        color: white;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
        top: -0.3rem;
        left: 50%;
        transform: translateX(-50%) translateY(-100%) scale(var(--scale));
        transition: transform 200ms;
        transform-origin: bottom center;
    }
    .tooltip-top:hover::before,
    .tooltip-top:hover::after {
        --scale: 1;
    }
    .tooltip-top::after {
        content: "";
        border: 10px solid transparent;
        border-top-color: rgb(30, 50, 50);
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%) translateY(-50%) scale(var(--scale));
        transition: transform 200ms;
        transform-origin: top center;
    }

    .tooltip-left {
        --scale: 0;
    }
    .tooltip-left::before {
        content: attr(data-tooltip);
        position: absolute;
        padding: 5px 10px !important;
        width: max-content;
        border-radius: 0.3rem;
        font-size: 13px !important;
        font-weight: 500 !important;
        background-color: rgb(30, 50, 50);
        color: white;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
        top: 50%;
        right: calc(100% + 0.4rem);
        transform: translateY(-50%) scale(var(--scale));
        transition: transform 200ms;
        transform-origin: right center;
    }
    .tooltip-left:hover::before,
    .tooltip-left:hover::after {
        --scale: 1;
    }
    .tooltip-left::after {
        content: "";
        border: 10px solid transparent;
        border-left-color: rgb(30, 50, 50);
        position: absolute;
        top: 50%;
        left: -0.1rem;
        transform: translateX(-50%) translateY(-50%) scale(var(--scale));
        transition: transform 200ms;
        transform-origin: left center;
    }

    /* Animated Bottom Border on Hover */
    .animated-border-b {
        position: relative;
    }
    .animated-border-b::after {
        content: "";
        border-bottom: 2px solid gray;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: -0.2rem;
        transform: scale(0);
        transform-origin: left center;
        transition: transform 300ms;
    }
    .animated-border-b:hover::after {
        transform: scale(1);
    }

    /* horizontal infinity slider */
    .horizontal-infinity-slider {
        animation: slide-animation 20s linear infinite;
    }

    @keyframes slide-animation {
        to {
            transform: translate(
                calc(-50% - 4rem)
            ); /*4rem is the half of the gap between two logo(8rem)*/
        }
    }

    .mask {
        -webkit-mask: linear-gradient(
            90deg,
            transparent,
            white 20%,
            white 80%,
            transparent
        );
        mask: linear-gradient(
            90deg,
            transparent,
            white 20%,
            white 80%,
            transparent
        );
    }

    .carousel::-webkit-scrollbar {
        display: none;
    }

    @keyframes heartbeat {
        0% {
            transform: scale(0.75);
        }
        20% {
            transform: scale(1);
        }
        40% {
            transform: scale(0.75);
        }
        60% {
            transform: scale(1);
        }
        80% {
            transform: scale(0.75);
        }
        100% {
            transform: scale(0.75);
        }
    }

    .animate-heartbeat {
        animation: heartbeat 1s infinite;
    }

    @keyframes shake {
        0% {
            transform: translateX(1%);
        }
        10% {
            transform: translateX(-3%);
        }
        20% {
            transform: translateX(-3%);
        }
        40% {
            transform: translateX(2%);
        }
        60% {
            transform: translateX(-2%);
        }
        80% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(0%);
        }
    }

    .animate-shake {
        animation: shake 1s infinite;
    }

    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .hide-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}
